<!-- Info Modal -->
<div class="modal fade" id="drugInfoModal{{this.drug}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ this.drug }} </h5>
                {{#if this.pretty_name}}
                    <h5 class="modal-title text-muted"> ({{ this.pretty_name }})</h5>
                {{/if}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if this.info}}
                    {{#if this.info.summary}}
                        <h5>Summary:</h5>
                        <p>{{ this.info.summary }}</p>
                    {{/if}}

                    {{#if this.info.avoid}}
                        <h5>Avoid:</h5>
                        <p>{{ this.info.avoid }}</p>
                    {{/if}}

                    {{#if this.info.aliases}}
                        <h5>Aliases:</h5>
                        <p>{{ this.info.aliases }}</p>
                    {{/if}}

                    {{#if this.info.categories}}
                        <h5>Categories:</h5>
                        <p>{{ this.info.categories }}</p>
                    {{/if}}

                    {{#if this.info.effects}}
                        <h5>Effects:</h5>
                        <p>{{ this.info.effects }}</p>
                    {{/if}}

                    {{#if this.info.dose}}
                        <h5>Dose:</h5>
                        <p>{{ this.info.dose }}</p>
                    {{/if}}

                    {{#if this.info.duration}}
                        <p><strong> * Duration:</strong> {{ this.info.duration }}</p>
                    {{/if}}
                    {{#if this.info.onset}}
                        <p><strong> * Onset:</strong> {{ this.info.onset }}</p>
                    {{/if}}
                    {{#if this.info.afterEffects}}
                        <p><strong> * After Effects:</strong> {{ this.info.afterEffects }}</p>
                    {{/if}}
                    {{#if this.info.halfLife}}
                        <p><strong> * Half Life:</strong> {{ this.info.halfLife }}</p>
                    {{/if}}
                {{else}}
                    <p>Sorry, I can't find any information for {{ this.drug }}!</p>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
