<!-- Collapsable Hamburger Navbar -->
<div class="pos-f-t sticky-top mb-4">
    <nav class="navbar navbar-dark bg-dark">
        <!-- Hamburger Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Heading -->
        <h1 class='archive_title no_select text-white m-0'>{{ log.title }}</h1>
        <p></p>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-2">
            <div class="text-white text-center">
                <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#editDetailsModal">{{ log.desc }}</button><br>
                <span>Doses:</span><br>
                {{#each log.doses}}
                    <!-- TODO: IF option for space between dose and unit -->
                    <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#drugInfoModal{{this.drug}}">{{ this.dose }} {{ this.unit }} of {{this.drug}} {{#if this.prettyName}}({{ this.prettyName }}){{/if}}</button>
                {{/each}}
                <br>
                <button type="button" class="btn btn-dark m-2">Log started on <span class="prettyDate">{{log.createdAt}}</span></button>
            </div>
            <div class="d-flex justify-content-between btn-row text-white">
                <button type="button" class="btn btn-primary m-2" onclick="location.href='/';">Home</button>
                <button type="button" class="btn btn-danger m-2" data-toggle="modal" data-target="#helpModal">Need Help?</button>
                <button type="button" class="btn btn-success m-2" data-toggle="modal" data-target="#addDoseModal">Add Dose</button>
                <!-- <button type="button" class="btn btn-secondary m-2" onclick="location.href='/logs/{{ log._id }}/edit';">Edit</button> -->

                {{#if log.status}}
                    <button type="submit" class="btn btn-warning m-2" name="update" value="status" form='change_status'>Mark Completed</button>
                {{else}}
                    <button type="submit" class="btn btn-warning m-2" name="update" value="status" form='change_status'>Reopen Log</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
{{> help }}
{{> addDose }}
{{> editDetails }}

{{#each log.doses}}
    {{#if this.prettyName}}
        {{> drugInfo }}
    {{/if}}
{{/each}}

{{#each log.notes}}
    {{> editNote }}
{{/each}}


<!-- Notes -->
<div id="note_container">
    <!-- <div class="row answer">
        <div class="col-xs-1 align-middle text-center pl-1">
            <span class='timestamp prettyDate'>{{ log.createdAt }}</span> (<span class='timestamp noteTime'>{{ log.createdAt }}</span>)
        </div>
        <div class='col-xl-11'>Welcome {{ log.owner.name }}! So far you've had:<br>
            {{#each log.doses}}
                {{ this.dose }}{{ this.unit }} of {{ this.prettyName }}<br>
            {{/each}}
        </div>
    </div> -->
    {{#each log.notes}}
        {{#ifEqls this.format 'str'}}
            <a data-toggle="modal" data-target="#editNoteModal{{this._id}}">
                <div class="row note">
                    <div class="col-xs-1 align-middle text-center pl-1">
                        <span class='time noteTime timestamp'>{{ this.timestamp }}</span>
                    </div>
                    <div class='col-xl-11 show-whitespace'>{{ this.content }}</div>
                    {{#if this.edits}}
                            {{#each this.edits}}
                                <div class="row note">
                                    <div class="col-xs-1 align-middle text-center pl-1">
                                        <span class='time noteTime timestamp'>{{ this.timestamp }}</span>
                                    </div>
                                    <div class='col-xl-11 show-whitespace'>{{ this.content }}</div>
                                </div>
                            {{/each}}
                    {{/if}}
                </div>
            </a>
        {{/ifEqls}}
        {{#ifEqls this.format 'msgToUser'}}
            <div class="row answer">
                <div class="col-xs-1 align-middle text-center pl-1">
                    <span class='timestamp prettyDate'>{{ this.timestamp }}</span> (<span class='timestamp noteTime'>{{ this.timestamp }}</span>)
                </div>
                <div class='col-xl-11 show-whitespace'>{{ this.content }}</div>
            </div>
        {{/ifEqls}}
    {{/each}}
        <!-- {{#ifEqls this.type 'question'}}
            <div class="row note">
                <div class="col-xs-1 align-middle text-center pl-1">
                    <span class='time noteTime timestamp'>{{ this.timestamp }}</span>
                </div>
                <div class='col-xl-11'>{{this.content}}</div>
            </div>
        {{/ifEqls}} -->
        <!-- {{#ifEqls this.type 'answer'}}
            <div class="row answer">
                <div class="col-xs-1 align-middle text-center pl-1">
                    <span class='time noteTime timestamp'>Ask The Caterpillar says...</span>
                </div>
                <div class='col-xl-11'>{{ this.content }}</div>
            </div>
        {{/ifEqls}} -->
        <!-- {{#ifEqls this.type 'img'}}
            <div class="row note">
                <div class="col-xs-1 align-middle text-center pl-1">
                    <span class='timestamp'>{{ this.timestamp }}</span>
                </div>
                <div class='col-xl-11' ><img class="img" src="photos/{{ this.content }}"/></div>
            </div>
        {{/ifEqls}} -->
</div>

<!-- Text Input -->
<div class="input-group fixed-bottom text_input_div">
    <div class="input-group-append" onclick="
           document.getElementById('file_input').click();
    ">
        <input form='add_note' name='file' type='file' id="file_input" style="display: none;" onchange="
                if(document.getElementById('file_input').files.length > 0 ){
                    document.getElementById('paperclip').style.backgroundColor = 'rgba(0, 0, 255, 0.5)';
               }" />
        <span class="input-group-text attach_btn" id="paperclip"><i class="fa fa-paperclip"></i></span>
    </div>
    <textarea name="note" id="note_input" form='add_note' class="form-control type_note" onkeyup="textAreaAdjust(this)"></textarea>
    <div class="input-group-append">
        <span class="input-group-text send_btn" id='add_note_btn' onClick='document.add_note.submit();'><i class="fa fa-location-arrow"></i></span>
    </div>
</div>

<form method='POST' name='add_note' id='add_note' action='/logs/{{log._id}}/addNote'>
        <input type='hidden' name='update' value='add_note'/>
</form>

<form method='POST' name='change_status' id='change_status' action='/logs/{{log._id}}/status'>
    <input type="hidden" name="currentStatus" value="{{log.status}}">
</form>

<script src="/js/drug_list.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>

<script>
    function prettyDates() {
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        $(".prettyDate").each( function(ele) {
            var dateTime = new Date($(this).text());
            var prettyTime = moment(dateTime).tz(timezone).format("LLLL");
            $(this).text(prettyTime);
        });
    }
    function prettyTimestamps() {
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        $(".noteTime").each( function(ele) {
            var timeStr = new Date($(this).text());
            var prettyTime = moment(timeStr).tz(timezone).fromNow();
            $(this).text(prettyTime);
        });
    }
    function submitThenClear(formId, textareaId) {
        console.log('hello?');
        $(`#${formId}`).submit();
        $(`#${textareaId}`).val("");
        $(`#${formId}`).reset();
    }
    window.onload = function() {
        // scroll to the bottom on pageload
        window.scrollTo(0,document.body.scrollHeight);
        prettyDates();
        prettyTimestamps();
    };
</script>
