<div class="title_container card text-center mx-auto p-2">
    <form id="log_form" method="POST" action="/logs/{{log._id}}">

        <div class="form_div mb-3">
            <label class='form_label' for='form_title'>Log Title</label><br>
            <input class='form-control form_input' id='form_title' type='text'
                name='title' placeholder='Experience Title' value="{{log.title}}"/>
        </div>

        <div class="form_div mb-3">
            <label class='form_label' for='form_desc'>Description</label><br>
            <input class='form-control form_input' id='form_desc' type='text'
                name='desc' placeholder='Any extra info?' value="{{log.desc}}"/>
        </div>
        <br>

        <div class="form_div mb-2 d-block pretty p-switch p-fill d-flex flex-row justify-content-center">
            <input type="checkbox" id="currently_tripping_check" name="tripping"
                onclick='showDoses()' {{#if log.doses}} checked {{/if}}/>
            <div class="state p-success mb-2">
                <label>Click here if you're currently dosed! (You can add doses later)</label>
            </div>
        </div>

        <div id="dose_wrapper" {{#if log.doses}} style="display: none;" {{/if}}>
            <div class="m-2" style="display: block;">
                <span id="dose_title" class="dose_label m-2">Dose</span>
                <i class="far fa-plus-square add_dose" onclick="addDose()"></i>
            </div>
            {{#each log.doses}}
                <div class="form_div mb-2 row">
                    <div class="col-6">
                        <input type="text" class='form-control drug_dropdown' name='drug'
                            autocomplete=off placeholder="Drug" value="{{this.drug}}"/>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="text" class='form-control unit_dropdown' name='dose'
                                autocomplete=off placeholder="Dose" value="{{this.dose}}"/>
                            <input type="text" class='form-control dose_dropdown' name='unit'
                                autocomplete=off placeholder="Unit" value="{{this.unit}}"/>
                            <div class="input-group-append">
                                <div class="btn btn-outline-dark" onclick="rmDose(this)">
                                    <i class="far fa-minus-square rm_dose my-auto"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <button type='submit' class='btn btn-success mt-2'>Update!</button>
    </form>
</div>

<script src="js/drug_list.js"></script>
